.net-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.net-list__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.net-list__icon {
    fill: var(--clients-link-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.net-list__link:hover,
.net-list__link:focus {
    background-color: var(--accent-color);
}

.net-list__link:hover .net-list__icon,
.net-list__link:focus .net-list__icon {
    fill: var(--primary-white-color);
}